
@media screen and (min-width: 392px ) {
    #smreview-header{
        margin-left: 65px;
    }

    .Expandcircledown2{
        position: absolute;
        left: 200px;
        top: -50px;
       
    }
    .Expandcircledown1{
        position: absolute;
        right: 70px;
        top: -195px;
       
    }
    input[class="sminputfoot"]{
        margin-left: 0px;
        height: 36.06605529785156px;
        width: 354px;
       
        border-radius: 0px;
        
      }
     
      .smsub-button{
        position: absolute;
        top:0px;
        left: 273px;
        /* padding:.92rem; */
        color: white;
        background-color: #F77E23;
        height: 36.06605529785156px;
        width: 80.85321044921875px;
      
        border-radius: 20px solid green;
        
      }

}


@media screen and (min-width: 411px ) {

/* #fountain{
    margin-left: -130px;
   
}
.fountain--dot--container{
    position: relative;
    left: -103px;
}
.banner-text-header{
    font-size: 28px;
}
.banner-text-paragraph{
    font-size: 16px;
}
.buttons{
    font-size: 14px;
    padding: 18px 38px;
}
.live-chat-section-container{
    font-size: 14px;
}
.mark{
    font-size: 13px;
    font-weight:bolder;
}
.expert-container{
    height: 1000px;
}
.publication-section{
    height: 1000px;
}

input,select{
    width: 320px;
}
.form{
    width: 320px;
} */

#smreview-header{
    margin-left: 55px;
}

.Expandcircledown2{
    position: absolute;
    left: 200px;
    top: -55px;
   
}
.Expandcircledown1{
    position: absolute;
    right: 70px;
    top: -183px;
   
}
input[class="sminputfoot"]{
    margin-left: 0px;
    height: 36.06605529785156px;
    width: 375px;
   
    border-radius: 0px;
    
  }
 
  .smsub-button{
    position: absolute;
    top:0px;
    left: 295px;
    /* padding:.92rem; */
    color: white;
    background-color: #F77E23;
    height: 36.06605529785156px;
    width: 80.85321044921875px;
  
    border-radius: 20px solid green;
    
  }


/* input[class="sminputfoot"]{
    width: 300px;
}
.smsub-button{
    position: absolute;
    left: 240px;
}
.powered{
    font-size: 20px;
}
.online-container{
    margin-left: 1px;
}
.publication-section{
    margin-left: -19px;
    
} */
}