@media screen and (min-width: 600px) {
    .experts-image-container{
      position: relative;
      left: 10px;
      top: 15px;
  
    }
    .pub-img-circle{
      position: relative;
      left: 90px;
      margin-bottom: -220px;
    }
    /* .circle{
      margin-left: 80px;
    } */
    .bgpublications-image{
      margin-left: 80px;
    }
  
  
    .smsub-button{
      margin-left: 59px;
    }
    .form-sub-section{
      width: 77%;
      margin-left: 70px;
    }
  
   
    .expert-circle-image{
      position: relative;
      left: 100px;
    }
    .online-arrange1{
      position: relative;
      left:-70px;
    }
    .online-image-container{
      position: relative;
      left: -20px;
      top: 0px;
    }
    .form-images{
      position: relative;
      left: 110px;
    }
    .form-block-image{
      position: absolute;
      right: 150px;
    }

.address{
  font-size: 24px;
}

    .sub-update{
      padding-left: 70px;
      font-size: 25px;
    }
  
  .footer-name{
    padding-left: 40px;
    font-size: 35px;
  }
   .footer-link{
    padding-left: 30px;

   }
   .smcontentionarylogo{
    padding-left: 20px;
   
   }
   .powered{
    padding-left: 50px;
    font-size: 30px;
   }



   #marketing-background-img{
    background-image:url("../public/images/Topcategories-images/imagelg1.svg");
    height: 200px;
    
    background-color: black;
    background-position: contain;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 8px;
   
  }
  
  #design-background-img{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url("../public/images/Topcategories-images/img1.png");
    height: 200px;
    /* width: 25%; */
    background-color:black;
    background-position: contain;
    background-repeat: no-repeat;
    background-size: cover;
    /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../public/images/Topcategories-images/img1.png"); */
    position: relative;
    border-radius: 10px;
    filter: blur(0.5px);
   
  }
  #programming-background-img{
    /* background-image:url("../public/images/Topcategories-images/img3.png"); */
    height: 200px;
    /* width: 25%; */
    background-color: black;
    background-position: contain;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../public/images/Topcategories-images/img3.png");
    position: relative;
    border-radius: 10px;
  }
  
  #technology-background-img{
    background-image:url("../public/images/Topcategories-images/imagelg4.png");
    height: 200px;
    /* width: 25%; */
    background-color: black;
    background-position: contain;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    
  }

.mark{
  position: relative;
  bottom: -80px;
  font-size: 12px;
}
.markc{
  position: relative;
  bottom: -90px;
}
#smreview-header{
  font-size: 28px;
  position: relative;
  right: 120px;
}

.sub-flex-container{
  position: relative;
  right: 10px;
  
}
.review-name{
font-size: 16px;
}
.reviewjob{
  font-size: 16px;
}

.review-image{
  margin: 0px;
  margin-right: -50px;
  height: 60px;
}

.Expandcircledown2 {
  position: absolute;
  top: -60px;
  font-size: 50px;
 left: 350px;
}

.Expandcircledown1  {
  position: absolute;
  top:-170px;
  font-size: 50px;
  right: 80px;
}
.footer{
  margin-top: 40px;

}

.competate{
padding: 0px;
}
.smsub-button{
  position: absolute;
  top:0px;
  left: 315px;
  /* padding:.92rem; */
  color: white;
  background-color: #F77E23;
  height: 36.06605529785156px;
  width: 87.85321044921875px;

  border-radius: 0px;

  /* border: 2px solid #F77E23; */
}

.fountain--dot--container--footer{
  display: flex;
  
  position: relative;
  top: -70px;
  left: 80px;
  z-index: 1;
  
}
  }
  
  