body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.maincontainer{
  max-width: 1440px;
  margin: 0 auto;
  font-size: 15px;
  
  
}

.hidden-Navbar-links{
  visibility: hidden;
  display: none;
}
.lgbreaks{
  display: none;
  visibility: hidden;
}
.banner{
  background-image: url("../public/images/banner1.svg");
  background-color: #cccccc;
  height: 60vh;
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100vw;
  margin-top: 65px; 
}


.navbar{
  background-color: white;
  padding-left: 0px;
  height: 10px;
  display: flex;
  align-items: center;
  padding-bottom: 0px; 
  font-size: 35px;
  
}
#bars-container{
  display: flex;
  align-items: center;
}

.fa-bars{
  font-size: 35px;
  padding-left: 10px;

}
#bars-container{
  display: flex;
  align-items: center;
  padding-bottom: 70px;
  
}
.fa-user-circle{
  font-size: 35px;
  color: #F77E23;
  padding-bottom: 60px;
  
  
} 
 #fountain{
  padding-left: 20px;
  padding-right: 170px;
  font-size:30px;
  font-style: Source Sans Pro;
  color: #F77E23;
  
} 

.banner-text{
  color: white;
  
  font-size: 12px;
  font-style:Poppins;
  text-align: center;
  
}
.banner-text-header{ 
  padding-top: 40px;
   padding-left: 40px;
   
}

.banner-text-paragraph{
  opacity: 0.8;
  font-size: 15px; 
  padding-left: 100px;
} 
.buttons{
  padding: 15px 32px 15px 32px;
  margin-top: 20px;
  background-color: #F77E23;
  color: white;
  font-weight: bold;
  border: #F77E23;
  border-radius: 5px;
  margin-left: 45px;
  }
  .live-chat-section{
    display: flex;
    justify-content: space-evenly;
   
  }

.live-chat-section1{
  display: flex;
  align-items: center;
  
}
.live-chat-text{
  padding-left: 15px;
  font-size: 20px;
}

.competitor{
  justify-content: center;
}


  @media screen and (min-width: 1024px) {
    
    .hidden-Navbar-links{
      font-size: 15px;
      color: white;
      visibility: visible;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;
      
    }
    .smbreaks{
      visibility: hidden;
      display: none;
    }
    .lgbreaks{
      display: inline-block;
      visibility: visible;
    }
    #bars-container{
      visibility: hidden;
      display: none;
    }
    .fa-user-circle{
      visibility: hidden;
      display: none;
    }
    .banner{
      background-image: url("../public/images/banner1.svg");
      background-color: #cccccc;
      height: 100vh;
      background-position: cover;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      width: 100vw;
      margin-top: 0px; 
    }
    .navbar{
      background-color: transparent;
      padding-left: 10px;
      height: 40px;
      position: static;
      bottom: 40px;
      display: flex;
      align-items: center;
      padding-top: 75px;
      padding-bottom: 0px;  
    }
    #name{
      color: #F77E23;
      font-size: 20px;
      padding: 0;
      margin: 0;
    }
    .navbar-links{
      
      text-decoration: none;
      
      color: white;
        }
        .second-navlink{
         
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 20%;
        }

        .navbar-links1{
         
          text-decoration: none;
          
        }
        #register{
          background-color: white;
          color: #F77E23;
          font-weight: bold;
          display: inline-block;
          height: 30px;
          padding: 5px 15px 3px 15px ;
          border-radius: 5px;
         
        }
   
        .banner-text{
          color: white;
          font-size: 18px;
          font-style:Poppins;
          margin-left: -150px;

         
          
        }
        .banner-text-header{ 
           padding-left: 0px;
          padding-top: 0px; 
          
          
        
        }
        
        .banner-text-paragraph{
          opacity: 0.8;
          font-size: 15px; 
          padding-left: 40px;
          padding-right:0px ;
         
        } 
        .live-chat-section-main-container{
          position: relative;
        }

        .live-chat-section-container{
          display: flex;
          border-radius: 10px;
          position: relative;
          top: auto;
          bottom: 60px;
          left: 180px;
          width: 70%;
          height: 100px;
          align-items: center;
          justify-content: center;
          background-color: #FFFFFF;
          box-shadow:  0px 21px 97px rgba(207, 207, 207, 0.25);
         
           }
           .text1{
      padding-right: 30px;
           
          }
          
  }












